body{
    margin:0;
    font-family: Inter, sans-serif;
    color: #1A108B;
    font-size: 18px;
}
.page{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0rem 2rem 0rem 2rem;
}
.description{
    margin-left: 3rem;
}
 li::marker{
    color: #FF675C;
 }
 li{
    margin-bottom: 0.2rem;
 }
.heading {
    color: #FF675C;
    text-align: center;
    font-size: 30px;
    margin-bottom:5px;
}
span{
    color: #4748F0;
}