body {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    color: white;
}

/*Hero section*/

.hero-section{
    height: 90vh;
    display:  flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.hero-section div{
    width: 42%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-section h1{
    text-align: center;
    color: #4747f0;
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 1.5em;
}
.hero-section span{
    color: #FF675C;
}
.hero-section div button{
    width: fit-content;
    background-color: #4747f0;
    color: white;
    border: 2px solid #4747f0;
    padding: 0.7rem 1.3rem 0.7rem 1.3rem;
    border-radius: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1rem;
    box-shadow: #4747f066 2px 5px 6px;
    transition: 0.3s;
}
.hero-section div button:hover{
    background-color: #FF675C;
    border-color: transparent;
}