body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
}

/* navigation bar */

/* TODO: Center the central links? */
.navigation {
    /* background-color: rgb(71, 130, 240); */
    width: 100%;
    background-color: #7D97F4;
    position: sticky;
    top: 0;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0rem 1rem 0rem;
}
.logo{
    display: flex;
    justify-content: start;
}
.navigation a {
    display: block;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
}
.nav-list {

    display: flex;
    width: 60%;
    justify-content: space-around;
    gap: 3rem;
    list-style: none;
}
.nav-elements {

    display: flex;
    justify-content: space-between;
    gap: 3rem;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #f2f2f2;
    font-size: 1.6rem;
    transition: all 0.3s ease;
}

.nav-link:hover {
    color: #4747f0;
    font-weight: bold;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 1.7rem;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    transition: all 0.3s ease;
}

.dropdown .dropbtn:hover {
    color: #4747f0;
    font-weight: bold;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;

}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*Hero section*/

.hero-section{
    height: 90vh;
    display:  flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.hero-section div{
    width: 42%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-section h1{
    text-align: center;
    color: #4747f0;
    font-weight: bold;
    font-size: 4.2em;
    margin-bottom: 1em;
}
.hero-section span{
    color: #FF675C;
}
.hero-section div button{
    width: fit-content;
    background-color: #4747f0;
    color: white;
    border: 2px solid #4747f0;
    padding: 0.8rem 1.5rem 0.8rem 1.5rem;
    border-radius: 2rem;
    font-weight: bold;
    font-size: 1.4rem;
    box-shadow: #4747f066 2px 5px 6px;
    transition: 0.3s;
}
.hero-section div button:hover{
    background-color: #7D97F4;
    border-color: #7D97F4;
}