body {
    font-family: Inter, sans-serif;
    margin:0;
}

h1{
    color: #ffe57f;
}

.loginform {
    display: flex;
    justify-content: space-between;

    width: 1000px;

    background-color: #7D97F4;

    border-style:solid;
    border-color: #7D97F4;
    border-width:1px;
    border-radius:20px;
    box-shadow: 2px 2px 4px;

    margin-top:75px;
    margin-left:200px;
    padding:40px;

    font-size: 15px;
    color: gray;
}

input{
    height:7px;
    width: 95%;

    border-style:solid;
    border-width:1px;
    border-radius:4px;

    padding:15px;
    margin-bottom:15px;
}

button{
    background-color: #4747f0;
    color:white;

    border:black;
    border-width:0px;
    border-radius:15px;

    padding:10px 20px;

    cursor: pointer;
    transition: 0.3s ease;

}
.button:hover {
    background-color: #FF675C;
    color: white;

    border:black;
    border-width:0px;
    border-radius:15px;

    padding:10px 20px;

    cursor: pointer;

}

label{
    color: #ffe57f;
}

p{
    color:white;
}

a{
    color: #ffe57f;
}

.message {
    position: fixed;
    z-index: 1000;
    display: none;

    border: solid;
    border-width:5px;
    border-color: #FF675C;
    border-radius: 20px;

    padding: 20px;
    top: 150px;
    left: calc( 50% - 225px );

    background-color: #FF675C;
    color: white;

    font-size: 60px;
    text-align: center;
    width: 450px;
}

.message.open {
    display: block;
}

.close{
    background-color: #4747f0;
    color:white;

    border:black;
    border-width:0px;
    border-radius:15px;

    padding:10px 20px;

    cursor: pointer;

    transition: 0.3s ease;
}
.close:hover {
    background-color: #7D97F4;
    color: white;

    border:black;
    border-width:0px;
    border-radius:15px;

    padding:10px 20px;

    cursor: pointer;}

