/* navigation bar */

body{
    color: #19108E;
}

.navigation {
    z-index: 1000;
    width: 100%;
    /* background-color: #DEE5FF; */
    background-color: white;
    box-shadow: #18108e6d 4px 2px 6px;
    position: sticky;
    top: 0;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.3rem 0rem 0.3rem 0rem;
}
.logo{
    display: flex;
    justify-content: start;
}
.navigation a {
    display: block;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: #19108E;
}
.nav-list {

    display: flex;
    width: 60%;
    justify-content: space-around;
    gap: 3rem;
    list-style: none;
}
.nav-elements {

    display: flex;
    justify-content: space-between;
    gap: 3rem;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-link:hover {
    color: #FF675C;
    font-weight: bold;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 1.1rem;
    border: none;
    outline: none;
    color: #19108E;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin-top: 0.2rem;
    transition: all 0.3s ease;
}

.dropdown .dropbtn:hover {
    cursor: pointer;
    color: #FF675C;
    font-weight: bold;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 #18108e47;
    z-index: 1;

}

.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: #19108E;
}
.dropdown-content a:hover{
    color: #FF675C;
    cursor: pointer;
}
.dropdown-content a:active{
    color: #FF675C;
    font-weight: bold;
}

.dropdown:hover .dropdown-content {
    display: block;
}