body {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    color: #19108E;
}

.menu-container h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

.menu-container p {
    color: #494491;
    font-size: 1rem;
    font-weight: 400;
}
.menu-container span{
    color: #FF675C;
}

.menu-container {
    width: 80%;
    margin: 0 auto;
}

.tab-menu {
    display: flex;
    justify-content: left;
    margin-top: 2em;
}

.tab-menu button {
    background-color: #99aef7;
    color: white;
    border: none;
    padding: 0.5em 1em;
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 0.2rem;
    cursor: pointer;
}

.tab-menu button:hover {
    color: #4747f0;
}

.tab-menu button.active {
    background-color: #4747f0;
    color: white;
}

.tab-content {

    display: none;
    padding: 2em;
    border: 1px solid #19108E;
    border-radius: 5px;

}

.tab-content.active {
    display: block;
}
.tab-content input{
    border: 1px solid #19108E;
    border-radius: 3px;
    margin: 0rem 0.8rem 0rem 0.2rem;
    padding: 0.2rem 0.6rem 0.2rem 0.4rem;
}
.tab-content button{
    background-color: #4747f0;
    border: 2px solid transparent;
    border-radius: 5px; 
    color: white;
    padding: 0.2rem 0.6rem 0.2rem 0.6rem;
    transition: 0.3s ease-in-out;
    box-shadow: 0.5px 1px 4px #18108e7e;
}
.tab-content button:hover{
    background-color: #FF675C;
    cursor: pointer;
}