body {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}

.menu-container h2 {
    color: #262626;
    font-size: 1.5rem;
    font-weight: 500;
}

.menu-container p {
    color: #545454;
    font-size: 1rem;
    font-weight: 400;
}

.menu-container {
    width: 80%;
    margin: 0 auto;
}

.tab-menu {
    display: flex;
    justify-content: left;
    margin-top: 2em;
    border-bottom: 2px solid #7D97F4;
}

.tab-menu button {
    background-color: #b9b9b9;
    color: white;
    border: none;
    padding: 0.5em 1em;
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 0.2rem;
    cursor: pointer;
}

.tab-menu button:hover {
    color: #7D97F4;
}

.tab-menu button.active {
    background-color: #7D97F4;
    color: white;
}

.tab-content {
    display: none;
    padding: 2em;
    border: 1px solid #7D97F4;
    border-top: none;
}

.tab-content.active {
    display: block;
}